<html lang="en">
<body>
  <a href="/cuddles"><img src="images/cat1.jpg" alt="first cat"></a>
  <a href="/meow"><img src="images/cat2.jpg" alt="second cat"></a>
  <a href="/snowball"><img src="images/cat3.jpg" alt="third cat"></a>
  <a href="/mittens"><img src="images/cat4.jpg" alt="fourth cat"></a>
</body>
</html>
